extends layout/index

block content    
  .panel.panel-headline
    .panel-heading
      h3.panel-title All Customers
    .panel-body
      .panel
        .panel-heading
          input.form-control(type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for customer..")
        .panel-body.no-padding
          style.
            .text{
              width: 450px;
              overflow: hidden;
              white-space: nowrap;
            }
          table.table.table-striped(id="userTable")
            thead
              tr
                th
                  | Customer
            tbody
              style. 
                tr.clickable-row{
                  transition:background-color 0.1s;
                  -webkit-transition:background-color 0.1s;
                  cursor:pointer;
                }
                tr.clickable-row:hover{
                  background-color:#f0f0f0 !important;
                }
              each customer in customers
                tr.clickable-row(data-href=`/quotes/customer/${customer._id}`)
                  td
                    | #{customer.customerName}
        .panel-footer
          .row

block additionalscripts
  script. 
    function myFunction() {
    // Declare variables 
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("userTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {				
          tr[i].style.display = "";
      } else {
          tr[i].style.display = "none";
      }
      } 
    }
    }
  
  script. 
    jQuery(document).ready(function($) {
      $(".clickable-row").click(function() {
          window.location = $(this).data("href");
      });
    });



      